.app {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  color: #3f51b5;
  margin: 20px;
}

.input-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-field {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-btn, .done-btn, .delete-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.add-btn {
  background-color: #3f51b5;
  color: white;
}

.done-btn {
  background-color: #4caf50;
  color: white;
  margin-right: 10px;  /* Add some space to the right of the 'Done' button */
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.todo-text {
  text-align: left;  /* Align the text to the start of the line */
  margin: 0;
  flex: 1;
}

.todo-buttons {
  display: flex;
}

.completed {
  text-decoration: line-through;
}
